.SignIn__img{
    width: 50%;
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-content: left;
    justify-content: left;
    align-items: left;
    overflow: hidden;
    
}
.SignIn__img img{
    width: 50%;
}
.SignIn{
    width: 100%;
}