.Footer{
    
    width: 100%;
    text-align: left;
    align-items: left;
    justify-content: left;
    background-color: #1B2628;
    bottom:0;
    display: flex;
    position: relative;
    margin-top: 150;

    z-index: 100;
    
}

.Footer p{
    color: #8ba752;
    margin: 20px 10px
}