.Footer{
    width: 100%;
    height: 60px;
    display: flex;
    text-align: left;
    align-items: left;
    justify-content: left;
    background-color: #1B2628;
    position: absolute;
    bottom:0;
    z-index:100;
}

.Footer p{
    color: #8ba752;
    margin: 20px 10px
}