.Header{
    display: flex;
    align-content: center;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #1B2628;
    background-color: #1B2628;
}

.Header a img{
    margin: -10px 80% 10px -2px ;
    height: 90px;
    width: 90px;

}



