/* .container{
    display: flex;
    align-content: center;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #1B2628;
    background-color: #1B2628;
}
 */
.logoHeader{
    margin: 0px 70% 5px -2px ;
    height: 90px;
    width: 90px;

}
.cart{
    margin-left: 1100px;
    height: 100px;
    width: 100px;

}

#headerText {
    color: white;
}




